*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
.wrapper{
    background: rgb(243, 243, 243);
    margin: 0px auto;
    padding: 20px 0 ;
    width: 800px;
}
h1{
    float: right;
    margin:0 20px 10px 0;
}
h1::after{
    clear: both;
}
.smart-box{
    width: 50px;
    background: #000000;
    position: relative;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    box-shadow: -1px -1px 1px 1px rgb(202, 202, 202);
}
.smart-box a{
    text-decoration: none;
    color:rgb(216, 216, 216);
    font-weight:bold;
}
.bookmarklet{
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgb(21, 236, 39) , rgb(32, 172, 32));
    font-weight: bold;
    border: 2px solid rgb(74, 201, 85);
    border-radius: 8px;
    box-shadow: 1px 1px 5px 1px #000000;
}
.bookmarklet:hover{
    background: linear-gradient(150deg , rgb(32, 172, 32), rgb(21, 236, 39));
}
.box{
    margin: 20px 0px;
    padding: 20px 10px;
    background: rgb(231, 231, 231);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    box-shadow: 5px 9px 28px 1px rgba(0,0,0,0.31);
}
.box a{
    margin:10px 0;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 14px;
    }
    img {
        width: 100%;
    }

    .wrapper{
        width: 100%;
    }

  
  }
